:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    Helvetica Neue,
    Arial,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  line-height: 1.5;
  padding: 2rem;
}